#portfolio-banner {
    background-image: url("../images/banners/demos.jpg");
    background-position: 50%;
}

#error {
	display: none;
	margin-left: 10px;
}

@media screen and (max-width: 481px) {
	.container {
		display: none;
	}
	.footer {
		margin-top: 80px;
	}
	#error {
	display: block;
}
}
