#quotes-banner {
    background-image: url("../images/banners/mountain.jpg");
    background-position: 50%;
}

main {
    margin-bottom: 40px;
}

#myquotes {
    margin-left: 27px;
    height: 350px;
}

#otherquotes {
    margin-left: 27px;
    height: 350px;
}

#thoughts {
    margin-left: 27px;
    height: 350px;
}

#ideas {
    margin-left: 27px;
    height: 350px;
}

@media screen and (max-width: 481px) {
    #myquotes {
        margin-left: 0px;
        height: 420px;
    }
    #otherquotes {
        margin-left: 0px;
        height: 450px;
    }
    #thoughts {
        margin-left: 0px;
        height: 450px;
    }
    #ideas {
        margin-left: 0px;
        height: 130px;
    }
}
