#error {
	display: none;
	margin-left: 10px;
}

@media screen and (max-width: 481px) {
	.container {
		display: none;
	}
	.footer {
		margin-top: 80px;
	}
	#error {
	display: block;
}
}

#intro {
	font-size: 2vh;
}

#disclaimer {
	font-size: 1.5vh;
}

.inactive a {
   pointer-events: none;
   cursor: default;
}