html{
 height:100%;
 }

body {
  text-align: center;
  background-image:url('background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body h1 {
  position: relative;
  top: -10px;
  text-shadow: 3px -3px 0px rgb( 150, 220, 120);
  font-size: 38px;
  font-family: 'Revalia', cursive;
  font-weight: bold;
}

main {}