body {
    background-image: url("http://il3.picdn.net/shutterstock/videos/1325707/thumb/10.jpg");
    text-align: center;
    background-size: cover;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

#background img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
#background img {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

body #bottom_background {
    background-color: gray;
    margin-right: -8px;
    margin-left: -8px;
    height: 200px;
}

#title img{
    background-color: gray;
    border-radius: 20%;
    margin: 20px;
}

#bottom_background h1 {
    color: white;
    margin: 20px;
}